.login-container{
    height: 100%;
    background:#1D87BB;
    .login-wrap{
        width: 380px;
        height: 500px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        .blog-title{
            font-size: 30px;
            color: white;
            text-align: center;
            margin-bottom: 40px;
        }
        .login-group{
            background-color: white;
            text-align: center;
            padding: 40px 0;
            border-radius: 5px;
            input{
                width: 300px;
                height: 36px;
                border:1px solid #bfcbd9;
                border-radius: 4px;
                margin-bottom: 16px;
                padding: 3px 10px;
                outline: none;
            }
            button{
                display: block;
                width: 300px;
                height: 36px;
                border: 0;
                background-color: #4db3ff;
                border-radius: 4px;
                color: #fff;
                margin: auto;
                cursor: pointer;
                outline: none;
            }
        }
    }
}