.menu-wrap{
    height: 100%;
    background:linear-gradient(#27ADD0, #1D87BB 65%, #105799);
    .logo-wrap{
        height: 135px;
        line-height: 130px;
        padding-left: 20px;
        color: #ffffff;
        font-size: 18px;
        .iconfont{
            margin-right: 16px;
            font-size: 36px;
            opacity: .8;
        }
        i{
            display: inline-block;
        }
    }
    .menu-item{
        color: white;
        padding-left: 30px;
        padding-bottom: 30px;
        cursor: pointer;
        .iconfont{
            font-size: 18px;
            display: inline-block;
            vertical-align: middle;
        }
        a{
            margin-left: 18px;
            font-size: 12px;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            &.active{
                text-decoration: underline;
                cursor: default;
            }
        }
    }
}